{{define "driver"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
</head>
<body>
    <h2>Edit Driver</h2>
    {{if .Driver}}
     <table>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Forename</th>
            <th>Surname</th>
            <th>Image</th>
        </tr>
        
        <tr>
            <td>#{{.Driver.ID}}</a></td>
            <td>{{.Driver.Code}}</td>
            <td>{{.Driver.Forename}}</td>
            <td>{{.Driver.Surname}}</td>
            <td><img src="/img/images/{{.Driver.Image}}" style="width:60px;height:60px;" alt="{{.Driver.Image}}"></td>
        </tr>
    
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
</body>
</html>

{{end}}