{{define "index"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
</head>
<body>
    <h2>List of Active Drivers</h2>
    {{if .Drivers}}
     <table>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Forename</th>
            <th>Surname</th>
            <th>Image</th>
        </tr>
        {{range .Drivers}}
        <tr>
            <td>#{{.ID}}</a></td>
            <td>{{.Code}}</td>
            <td>{{.Forename}}</td>
            <td>{{.Surname}}</td>
            <td><img src="/img/images/{{.Image}}" style="width:60px;height:60px;" alt="{{.Image}}"></td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
</body>
</html>

{{end}}